# AIN 214 - PA1 - FALL 2023

BELOW MD CELLS CONTAIN THE QUESTIONS YOU ARE ASKED TO IMPLEMENT WITHIN THE CONTEXT OF THIS HW. PLEASE FILL IN THE CELLS FOR THE ANSWERS RIGHT BELOW THE MD CELL OF THE QUESTION. YOU CAN ADD AS MANY CELLS AS YOU WANT, BE IT CODE OR MD, SO LONG AS YOU PROVIDE AN UNDERSTANDABLE AND TRACBLE REPORTING. PLEASE ADD COMMENTS ON YOUR CODES. ALSO, FILL IN MD CELLS WHERE YOU ARE ASKED YO COMMENT ON YOUR RESULTS OR EPXLAIN YOUR REASONING. ALSO, PLEASE DO NO HESITATE TO USE THEM FOR YOUR OWN REPORTING PURPOSES. PLEASE KEEP IN MIND THAT, REPORTING IS A KEY STEP IN DATA SCIENCE.

Deadline: 03.11.2023 (23:59:59)

Submission: Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# Necessary Imports

In [2]:
import numpy as np
import pandas as pd
from sqlite3 import connect
import sqlite3

# Notes:
* Use pandas dataframe (df) to load the data. 
* Use numpy or pandas operations for the requested tasks unless otherwise specified. Use of naive for loops is not considered valid.
* For the db operations, use sqlite3 library in Python

# 1st Set of Questions on Boston Housing Dataset **(30 Pts)**

* Retrieved from KAGGLE
* **Dataset Path: "Data/BostonHousing.csv"**

## Q1. Basic Data Exploration **(10 Pts)**
1. Load the data into Pandas DataFrame and print the column names. **(1 pts)**
2. Display the first and last 10 rows of the dataset. **(1 pts)**
3. Display random 10 rows. **(1 pts)**
4. Display random 10 rows with a seed, ie, it outputs the same random rows everytime it is run. **(1 pts)**
5. Display every 15th row. **(1 pts)**
6. Get the summary stats of the dataset regarding each column. **(2 pts)**
7. Identify and count the number of missing values in each column. **(3 pts)**

In [3]:
# Load the data into Pandas DataFrame and print the column names
df = pd.read_csv("annots.csv")
print(df.columns)

Index(['ProteinID', 'ProtSeq', 'GO_ID', 'Sub_Graph', 'Level'], dtype='object')

In [3]:
# Display the first and last 10 rows of the dataset.
print(df.head(10))

print(df.tail(10))

    ProteinID                                            ProtSeq       GO_ID  \
0  A0A0E4AZF8  VDDIQEKMNKELGCIKVTFPGADGQGEDACLKDIPVSLISTYFART...  GO:0005488
1  A0A075B6K5  FDEAEHAHTYLRERIEVRLMTASESLMGERLGLMMGVCYEHFKGCG...  GO:0019814
2  A0A097ZPG2  NCLLPFHFDGRQPFWTGADCMFAFLMCDYSGAMCECTGCHWPHQEG...  GO:0004499
3  A0A097ZPD9  QFEGITCPMDPCRPCAWWIARYSYHWLPIHRGSECQGLYMKPPDYQ...  GO:0006629
4  A0A0C4DH36                   GNGGHVTILYAYGAMHRHQMVRCYHWVGVTRV  GO:0002250
5  A0A0A6YYG2  SWNHTSWFHLLCRYRGEIQMRNQTDLDKTKRPFGAIQDWEVDIKPE...  GO:0007166
6  A0A097I2B5  MWALREGPVSWWMTRLHWRTRQSQTVWPATRRYYCYWEYNFMIWKM...  GO:0005488
7  A0A0C5Q4Y6  WYTWADEAHAKNIVMCFRMHGEAYEKAAVYMNRSPEFMGCRADNND...  GO:0110165
8  A0A059J5P2                   YFKHQLKQWGQVWWEACFCIAPMNPKCKFMCA  GO:0005575
9  A0A096MJY4  AIHIVTTIFPKYGGAHAIYSAVPYWLKVGVMPCMNTDPNPETMHKN...  GO:0048738

  Sub_Graph  Level
0        MF      1
1        CC      2
2        MF      5
3        BP      3
4        BP      3
5        BP      3
6        MF      1
7        CC      1
8        CC      0
9        BP      6
        ProteinID                                            ProtSeq  \
25534  A0A0B4J1V1  GVGTNPQTNQKWCDHQHNMWNAIQCDEGSENTYVGGMKWENSLSYH...
25535  A0A067XR63  RSCWLNPCPCLKMLAYATLEVLVSWCLNQIACTYHDHNADYHPISN...
25536  A0A0B4J1X5  MTLWCPGTRTYNQVTQNSFVAIWCEKSGDAAGLSNKPCVIQLKCVK...
25537  A0A0C5PHQ7              AQMAWAMDDFQEYGEEQTTTYHYQDNYIRKLHNYTSG
25538  A0A0A1C3I2       WAFHLTSFVSYCCIYHRPMNFGHQMMATWCESSKNYTNCLDRSC
25539  A0A0D1DT68              QVCMHSTPIKQSKRKRNCLMFIFLAHPFVEHPFPIQG
25540  A0A075TR33  TKTWHEMRDKGLFRKFIIAKYIVIMYCEPNGQFHYQTKYGERHMQS...
25541  A0A0B7P9G0  FWEKPHYISMVHEYMQTDMMWDLTMVWDFLMRACWVEWLRYRSAYA...
25542  A0A024B7W1                  EHNRHYMCESYNYRHGCSLGSYQMLGQYNAQGT
25543  A0A075HNX4                     YLPKKNTHAARMAESCGFKYNGCMPLEDHL

            GO_ID Sub_Graph  Level
25534  GO:0005488        MF      1
25535  GO:0048046        CC      3
25536  GO:0019724        BP      5
25537  GO:0035336        BP      6
25538  GO:0098827        CC      3
25539  GO:0008152        BP      1
25540  GO:0000322        CC      6
25541  GO:0010035        BP      3
25542  GO:0017171        MF      3
25543  GO:0043167        MF      2

In [6]:
# Display the random 10 rows
df.sample(10)

,ProteinID,ProtSeq,GO_ID,Sub_Graph,Level
9576,A0A0E3KBH3,KRWECTVFFDQHRSKQWYGKFTQNIWEHGCQLEKSWHQLKYSPICCG,GO:0009260,BP,6
22581,A0A024B3D0,WHQWNTNVWFDMAWTFCWQQEPWQTMYTSKIHRWFDLEEDMQLFK,GO:0016787,MF,2
14349,A0A0D3QS98,QPFACLDKSPMTQHLWPASLVRIIGYLPMVAMWCCCTLCASSSESW,GO:0008152,BP,1
3982,A0A0B4JDK1,IDTRKKIGGRCFNFICEVLPKCITDARMEQHIAAY,GO:0098542,BP,3
3361,A0A0D1DT68,YHGSALQAGAGEVPDDGFWQSTYEDMSIVAEWEGGLEINSVQGRHM...,GO:0046872,MF,4
8814,A0A096ZEC9,VNPHWLEDFRSFFRTMSTVWWCDDQGGLVCRVPKQ,GO:0008270,MF,6
5406,A0A075TRL5,HCRPIHLLVWPNNRIPKDTWFFGIAPPWYVEPHSLQ,GO:0044281,BP,2
3739,A0A072V9Z0,YVWGTKMVHWATYQQRAGRHLDDFLMWLPFMHDEHPLQIKSEAMRQ...,GO:0045165,BP,3
19872,A0A0D9S1R9,FTHNSASDIRCWMDRYLIHYPTFWCWVECCMCGDICKCEAIVTGKQ...,GO:0010876,BP,3
23489,A0A0B4J1U6,CNCSMFFFVAMYKSMKKDQPQKGKFEFEHFVLQVYSKEHAKIKHPSHPM,GO:0065007,BP,1

In [8]:
# sample using seed
df.sample(10, random_state= 1)

,ProteinID,ProtSeq,GO_ID,Sub_Graph,Level
24813,A0A077YBL0,DMSGWYVMMWDYSHKPGSWKIRHSDGNCTAQTLHKCMNCQLQAMAL...,GO:0006195,BP,6
24284,A0A088MF62,LHRCHDHRNREHEVSKIHRRFRQDFFCQCWHLQCKNRWVEIHMQPP...,GO:0005515,MF,2
9372,A0A0A0MTA4,HGEIVNAYVVDHQCYWQNETCNRCDPVEVQIKKEMQRA,GO:0110165,CC,1
7067,A0A0A6YY25,FMAAGIMAGDDKNNYVQQMWGVKCMVWNTDLSTSLCGDLDGENDAL...,GO:0061982,BP,3
11170,A0A0A1H7M6,GEWFLIDFCQFFHSRMMYMRMGNCSNQASHAAMVVPAA,GO:0016020,CC,2
21242,A0A068A9T3,HELNDWVQVIGVMSTYTGYNNQGLYNSENLRFSMGELTWFTF,GO:0043231,CC,4
16415,A0A067XNJ0,TLFNQWHIWWTMWAPKHVEKITETHYFCVGERGWH,GO:0003824,MF,1
8543,A0A0A1C930,KFVDFKSNMMHCDVCSAAWPFDRAVHGKPDWCYWVYYVNGQCSVFV...,GO:0015936,BP,6
8175,A0A0B4KEE4,WSMWIMHIIVTAQELHMAHVTGVGLWSKWREGVKWTCNLHFVVSIE...,GO:0110165,CC,1
21426,A0A0E3D8K9,VITDQVYYLTLLMHISMWEKHSWILWIIWH,GO:0019748,BP,2

In [9]:
# Display every 15th row
df.iloc[::15]

,ProteinID,ProtSeq,GO_ID,Sub_Graph,Level
0,A0A0E4AZF8,VDDIQEKMNKELGCIKVTFPGADGQGEDACLKDIPVSLISTYFART...,GO:0005488,MF,1
15,A0A0D2YFZ7,EVINTLEADPEVLDLAIRQLYWTDIQGENHFGTSDDVIRHMWRGRV...,GO:0032774,BP,5
30,A0A0B4J2F0,KLPPSPFLLPSEQMQKNRYQCRHVGETARGTKVIKFHMVIQNMAMA...,GO:0080134,BP,4
45,A0A077K8G3,VATVPLLHHLNYRWIVDEWDGRTDSNSQNHRSWSFVKEENLMLISC...,GO:0031969,CC,5
60,A0A075F932,SWFRPWSNTSSGQPDWQSIDRDNICCGLDIFE,GO:1903305,BP,6
...,...,...,...,...,...
25470,A0A087WPF7,FHVCTCIHPEDYLWAQQVDCDEVPPGAVWYSMWSNG,GO:0019219,BP,5
25485,A0A0E3D8L6,CTQPNRWRRHCWGLTRYLANVNISSNRGGFSMDTNKQPECCPMGDQ...,GO:0043167,MF,2
25500,A0A0D1DT62,QKAFTWPTYSWNPDSPMNDRVFSLGCRLFMWY,GO:0020037,MF,4
25515,A0A077YBL0,NGWLLCHFTLCREIQYYVMEVQRENQPGGKLVGVDSEHYV,GO:1901135,BP,3
25530,A0A031WDE4,GMQEEHHIGQMKAECHDERDCAHNEDKEKFEVPSIGKNEAKGWSMV...,GO:0044249,BP,3

In [11]:
# Get the summary stats of the dataset regarding each column
df.describe

<bound method NDFrame.describe of         ProteinID                                            ProtSeq  \
0      A0A0E4AZF8  VDDIQEKMNKELGCIKVTFPGADGQGEDACLKDIPVSLISTYFART...
1      A0A075B6K5  FDEAEHAHTYLRERIEVRLMTASESLMGERLGLMMGVCYEHFKGCG...
2      A0A097ZPG2  NCLLPFHFDGRQPFWTGADCMFAFLMCDYSGAMCECTGCHWPHQEG...
3      A0A097ZPD9  QFEGITCPMDPCRPCAWWIARYSYHWLPIHRGSECQGLYMKPPDYQ...
4      A0A0C4DH36                   GNGGHVTILYAYGAMHRHQMVRCYHWVGVTRV
...           ...                                                ...
25539  A0A0D1DT68              QVCMHSTPIKQSKRKRNCLMFIFLAHPFVEHPFPIQG
25540  A0A075TR33  TKTWHEMRDKGLFRKFIIAKYIVIMYCEPNGQFHYQTKYGERHMQS...
25541  A0A0B7P9G0  FWEKPHYISMVHEYMQTDMMWDLTMVWDFLMRACWVEWLRYRSAYA...
25542  A0A024B7W1                  EHNRHYMCESYNYRHGCSLGSYQMLGQYNAQGT
25543  A0A075HNX4                     YLPKKNTHAARMAESCGFKYNGCMPLEDHL

            GO_ID Sub_Graph  Level
0      GO:0005488        MF      1
1      GO:0019814        CC      2
2      GO:0004499        MF      5
3      GO:0006629        BP      3
4      GO:0002250        BP      3
...           ...       ...    ...
25539  GO:0008152        BP      1
25540  GO:0000322        CC      6
25541  GO:0010035        BP      3
25542  GO:0017171        MF      3
25543  GO:0043167        MF      2

[25544 rows x 5 columns]>

In [12]:
# Identify and count the number of missing values in each column
df.isnull().sum()

ProteinID    0
ProtSeq      0
GO_ID        0
Sub_Graph    0
Level        0
dtype: int64

## Q2. Data Filtering (10 pts)

1. Extract records where the rm (average number of rooms per dwelling) >= 7.   **(2 pts)**
2. Extract records located along the Charles River (chas = 1) and have a crime rate (crim) less than the median crime rate of the dataset.  **(2 pts)**
3. Identify neighborhoods where the average rm is greater than 6, the lstat (% lower status of the population) is below 10, and the medv is above the 75th percentile of the dataset. This would give neighborhoods with relatively larger homes, lower "lower-status" population percentage, and higher median values.  **(2 pts)**
4. Identify records where the dis (weighted distances to five Boston employment centers) is in the top 10% of the dataset and the nox (nitric oxides concentration) is in the bottom 10%, indicating neighborhoods that are farther from employment centers and have cleaner air.  **(2 pts)**
5. From the houses built before 1940 (AGE column), select those which fall in the top 20% in terms of nitric oxide concentrations (NOX). From this subset, retrieve the bottom 10 records with the lowest MEDV values.  **(2 pts)**

In [19]:
# Extract records where the rm >= 7
df2 = pd.read_csv("BostonHousing.csv")
df2['rm'] >= 7

0      False
1      False
2       True
3      False
4       True
       ...
501    False
502    False
503    False
504    False
505    False
Name: rm, Length: 506, dtype: bool

In [21]:
# Extract records located along the Charles River (chas = 1) and have a crime rate (crim) less than the median crime rate of the dataset.
median = df2['crim'].median()
record = df2[(df2['chas'] == 1) & (df2['crim'] < median)]
record

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
208,0.13587,0.0,10.59,1,0.4890,6.064,59.1,4.2392,4,277,18.6,381.32,14.66,24.4
210,0.17446,0.0,10.59,1,0.4890,5.960,92.1,3.8771,4,277,18.6,393.25,17.27,21.7
212,0.21719,0.0,10.59,1,0.4890,5.807,53.8,3.6526,4,277,18.6,390.94,16.03,22.4
216,0.04560,0.0,13.89,1,0.5500,5.888,56.0,3.1121,5,276,16.4,392.80,13.51,23.3
218,0.11069,0.0,13.89,1,0.5500,5.951,93.8,2.8893,5,276,16.4,396.90,17.92,21.5
219,0.11425,0.0,13.89,1,0.5500,6.373,92.4,3.3633,5,276,16.4,393.74,10.50,23.0
269,0.09065,20.0,6.96,1,0.4640,5.920,61.5,3.9175,3,223,18.6,391.34,13.65,20.7
273,0.22188,20.0,6.96,1,0.4640,7.691,51.8,4.3665,3,223,18.6,390.77,6.58,35.2
274,0.05644,40.0,6.41,1,0.4470,6.758,32.9,4.0776,4,254,17.6,396.90,3.53,32.4
276,0.10469,40.0,6.41,1,0.4470,7.267,49.0,4.7872,4,254,17.6,389.25,6.05,33.2
277,0.06127,40.0,6.41,1,0.4470,6.826,27.6,4.8628,4,254,17.6,393.45,4.16,33.1
282,0.06129,20.0,3.33,1,0.4429,7.645,49.7,5.2119,5,216,14.9,377.07,3.01,46.0
283,0.01501,90.0,1.21,1,0.4010,7.923,24.8,5.8850,1,198,13.6,395.52,3.16,50.0

In [22]:
# Identify neighborhoods where the average rm is greater than 6, the lstat (% lower status of the population) is below 10, and the medv is above 
# the 75th percentile of the dataset. 
a1 = df2['rm'] >6
a2 = df2['lstat'] < 10
a3 = df2['medv'] > df2['medv'].quantile(0.75)
df2[a1 & a2 & a3]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
39,0.02763,75.0,2.95,0,0.428,6.595,21.8,5.4011,3,252,18.3,395.63,4.32,30.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,0.02899,40.0,1.25,0,0.429,6.939,34.5,8.7921,1,335,19.7,389.85,5.89,26.6
353,0.01709,90.0,2.02,0,0.410,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1
369,5.66998,0.0,18.10,1,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
370,6.53876,0.0,18.10,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
371,9.23230,0.0,18.10,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0

In [23]:
# Identify records where the dis (weighted distances to five Boston employment centers) is in the top 10% of the dataset and the nox 
# (nitric oxides concentration) is in the bottom 10%
b1 = df2['dis'] > df2['dis'].quantile(0.90)
b2 = df2['nox'] < df2['nox'].quantile(0.10)
df2[b1 & b2]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
54,0.01360,75.0,4.00,0,0.4100,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9
55,0.01311,90.0,1.22,0,0.4030,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4
56,0.02055,85.0,0.74,0,0.4100,6.383,35.7,9.1876,2,313,17.3,396.90,5.77,24.7
57,0.01432,100.0,1.32,0,0.4110,6.816,40.5,8.3248,5,256,15.1,392.90,3.95,31.6
64,0.01951,17.5,1.38,0,0.4161,7.104,59.5,9.2229,3,216,18.6,393.24,8.05,33.0
196,0.04011,80.0,1.52,0,0.4040,7.287,34.1,7.3090,2,329,12.6,396.90,4.08,33.3
197,0.04666,80.0,1.52,0,0.4040,7.107,36.6,7.3090,2,329,12.6,354.31,8.61,30.3
198,0.03768,80.0,1.52,0,0.4040,7.274,38.3,7.3090,2,329,12.6,392.20,6.62,34.6
199,0.03150,95.0,1.47,0,0.4030,6.975,15.3,7.6534,3,402,17.0,396.90,4.56,34.9
200,0.01778,95.0,1.47,0,0.4030,7.135,13.9,7.6534,3,402,17.0,384.30,4.45,32.9
254,0.04819,80.0,3.64,0,0.3920,6.108,32.0,9.2203,1,315,16.4,392.89,6.57,21.9
255,0.03548,80.0,3.64,0,0.3920,5.876,19.1,9.2203,1,315,16.4,395.18,9.25,20.9
284,0.00906,90.0,2.97,0,0.4000,7.088,20.8,7.3073,1,285,15.3,394.72,7.85,32.2
285,0.01096,55.0,2.25,0,0.3890,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0
286,0.01965,80.0,1.76,0,0.3850,6.230,31.5,9.0892,1,241,18.2,341.60,12.93,20.1
287,0.03871,52.5,5.32,0,0.4050,6.209,31.3,7.3172,6,293,16.6,396.90,7.14,23.2
288,0.04590,52.5,5.32,0,0.4050,6.315,45.6,7.3172,6,293,16.6,396.90,7.60,22.3
289,0.04297,52.5,5.32,0,0.4050,6.565,22.9,7.3172,6,293,16.6,371.72,9.51,24.8
298,0.06466,70.0,2.24,0,0.4000,6.345,20.1,7.8278,5,358,14.8,368.24,4.97,22.5
299,0.05561,70.0,2.24,0,0.4000,7.041,10.0,7.8278,5,358,14.8,371.58,4.74,29.0
300,0.04417,70.0,2.24,0,0.4000,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
351,0.07950,60.0,1.69,0,0.4110,6.579,35.9,10.7103,4,411,18.3,370.78,5.49,24.1
352,0.07244,60.0,1.69,0,0.4110,5.884,18.5,10.7103,4,411,18.3,392.33,7.79,18.6
353,0.01709,90.0,2.02,0,0.4100,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1
354,0.04301,80.0,1.91,0,0.4130,5.663,21.9,10.5857,4,334,22.0,382.80,8.05,18.2
355,0.10659,80.0,1.91,0,0.4130,5.936,19.5,10.5857,4,334,22.0,376.04,5.57,20.6

In [24]:
# From the houses built before 1940 (age column), select those which fall in the top 20% in terms of nitric oxide concentrations (nox). From this subset,
# retrieve the bottom 10 records with the lowest medv values.
c1 = df2['age'] > 83
c2 = df2['nox'] > df2['nox'].quantile(0.80)
df2[c1 & c2].nsmallest(10, 'medv')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
398,38.3518,0.0,18.1,0,0.693,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
405,67.9208,0.0,18.1,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
400,25.0461,0.0,18.1,0,0.693,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
414,45.7461,0.0,18.1,0,0.693,4.519,100.0,1.6582,24,666,20.2,88.27,36.98,7.0
385,16.8118,0.0,18.1,0,0.700,5.277,98.1,1.4261,24,666,20.2,396.90,30.81,7.2
401,14.2362,0.0,18.1,0,0.693,6.343,100.0,1.5741,24,666,20.2,396.90,20.32,7.2
415,18.0846,0.0,18.1,0,0.679,6.434,100.0,1.8347,24,666,20.2,27.25,29.05,7.2
387,22.5971,0.0,18.1,0,0.700,5.000,89.5,1.5184,24,666,20.2,396.90,31.99,7.4
416,10.8342,0.0,18.1,0,0.679,6.782,90.8,1.8195,24,666,20.2,21.57,25.79,7.5
403,24.8017,0.0,18.1,0,0.693,5.349,96.0,1.7028,24,666,20.2,396.90,19.77,8.3

## Q3. Calculate the average per capita crime rate (crim) for each category, "Low", "Medium" or "High" of pupil-teacher ratio (ptratio). **(10 Pts)**
The ptratio is categorized into
* Low if ptratio <= 15
* Medium if 15 < ptratio <= 20
* High if ptratio > 20

In [25]:
#  Calculate the average per capita crime rate (crim) for each category, "Low", "Medium" or "High" of pupil-teacher ratio (ptratio)
low = df2[df2['ptratio'] <= 15]
medium = df2[(df2['ptratio'] > 15) & (df2['ptratio'] <= 20)]
high = df2[df2['ptratio'] > 20]
print(low['crim'].mean())
print(medium['crim'].mean())
print(high['crim'].mean())

1.2355291379310342
0.1584158704453441
8.545539850746271

# 2nd Set of Questions on the shot1.csv and shot2.csv Datasets **(30 Pts)**

* **Dataset Path: "Data/shot1.csv" and "Data/shot2.csv"**

## Q1. Data Merging and Consistency Checking **(10 Pts)**

* Combine the data from "shot1.csv" and "shot2.csv" into a single DataFrame, ensuring no redundant columns are present. Merge by the redundant column names, representing the same info with different naming.
*  After merging, perform a consistency check for any duplicated rows and provide a summary of your findings. Give the details (avg, mean, etc) of each feature.

In [26]:
# read csv s into dfs 
df3 = pd.read_csv('shot1.csv')
df4 = pd.read_csv('shot2.csv')

In [27]:
# merge dfs, removing redundant columns
df5 = pd.concat([df3, df4], ignore_index=True,)
df5

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_RESULT,GAME_IDENTIFICATION,PTS_TYPE,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899.0,"MAR 04, 2015 - CHA @ BKN",A,W,24.0,1.0,1.0,1:09,10.8,2.0,...,made,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,21400899.0,"MAR 04, 2015 - CHA @ BKN",A,W,24.0,2.0,1.0,0:14,3.4,0.0,...,missed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21400899.0,"MAR 04, 2015 - CHA @ BKN",A,W,24.0,3.0,1.0,0:00,NaN,3.0,...,missed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21400899.0,"MAR 04, 2015 - CHA @ BKN",A,W,24.0,4.0,2.0,11:47,10.3,2.0,...,missed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21400899.0,"MAR 04, 2015 - CHA @ BKN",A,W,24.0,5.0,2.0,10:34,10.9,2.0,...,missed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,missed,21400006.0,2.0,"Smart, Marcus",203935.0,0.8,0.0,0.0,jarrett jack,101127.0
256134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,made,21400006.0,2.0,"Turner, Evan",202323.0,0.6,1.0,2.0,jarrett jack,101127.0
256135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,made,21400006.0,2.0,"Thornton, Marcus",201977.0,4.2,1.0,2.0,jarrett jack,101127.0
256136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,missed,21400006.0,2.0,"Bradley, Avery",202340.0,3.0,0.0,0.0,jarrett jack,101127.0
256137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,made,21400006.0,2.0,"Bradley, Avery",202340.0,2.3,1.0,2.0,jarrett jack,101127.0

In [28]:
# check for duplicate rows and provide a summary of the findings for each feature
duplicated_rows = df5[df5.duplicated()]
duplicated_rows.describe()

,GAME_ID,FINAL_MARGIN,SHOT_NUMBER,PERIOD,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,GAME_IDENTIFICATION,PTS_TYPE,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.000000,3.100000e+01,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.641935,2.140039e+07,2.258065,128233.129032,3.348387,0.322581,0.709677,140872.322581
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.367133,2.566212e+02,0.444803,96498.552490,2.118942,0.475191,1.070624,91972.170233
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.600000,2.140002e+07,2.000000,2200.000000,0.100000,0.000000,0.000000,977.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.100000,2.140020e+07,2.000000,2655.500000,2.000000,0.000000,0.000000,2667.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.100000,2.140038e+07,2.000000,201577.000000,2.600000,0.000000,0.000000,201188.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.850000,2.140055e+07,2.500000,202717.500000,4.650000,1.000000,2.000000,202376.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.500000,2.140090e+07,3.000000,203507.000000,8.100000,1.000000,3.000000,204060.000000

## Q2. Player’s Shooting Accuracy Analysis **(10 Pts)**
* Using the combined DataFrame from Question 1, calculate and display the shooting accuracy of each player. 
* Shooting accuracy = the ratio of successful shots (SHOT_RESULT) to total shots taken
* Display the top 5 players based on shooting accuracy

In [29]:
shooting_accuracy = (df5[df5['SHOT_RESULT']== 'made'].groupby('player_id')['SHOT_RESULT'].count() / df5.groupby('player_id')['SHOT_RESULT'].count())
shooting_accuracy

player_id
708.0       0.465116
977.0       0.373072
1495.0      0.496013
1713.0      0.332155
1717.0      0.462010
              ...
203960.0    0.447619
203994.0    0.442177
204014.0    0.425641
204037.0    0.419753
204060.0    0.409091
Name: SHOT_RESULT, Length: 281, dtype: float64

In [30]:
shooting_accuracy.sort_values(ascending = False).head()

player_id
201599.0    0.712468
2199.0      0.676471
203497.0    0.625468
202962.0    0.617021
201949.0    0.614148
Name: SHOT_RESULT, dtype: float64

## Q3. Analyze the Relationship between shooting distance (SHOT_DIST) and shooting success (SHOT_RESULT). **(10 Pts)**
* Bin the shots into categories based on distance. **STATE AND REASON ABOUT YOUR LOGIC HERE!** (How to apply binning)
* Calculate the shooting accuracy for each bin. 
* **COMMENT** on your findinds.

In [31]:
bin_edges = [0, 10, 20, float('inf')]
bin_labels = ['Short Range', 'Mid Range', 'Long Range']

df5['SHOT_DIST_BIN'] = pd.cut(df5['SHOT_DIST'], bins=bin_edges, labels=bin_labels, right=False)

In [32]:
shooting_accuracy_by_bin = (df5[df5['SHOT_RESULT'] == 'made'].groupby('SHOT_DIST_BIN')['SHOT_RESULT'].count() /
                            df5.groupby('SHOT_DIST_BIN')['SHOT_RESULT'].count())
shooting_accuracy_by_bin

SHOT_DIST_BIN
Short Range    0.546069
Mid Range      0.410715
Long Range     0.357070
Name: SHOT_RESULT, dtype: float64

# 3rd Set of Questions on SQL - **using sqlite3 library!** **(40 Pts)**

* **Dataset Path: "Data/annots.csv"**

Here you are given a file: annots.csv, with the protein - gene ontology (GO) term associations/annotations. Gene ontology is a framework, representing the properties of genes and proteins. This is basically a Graph - more spesifically a directed acyclic graph (DAG), representing a level-ordered hierarchy with three subgraphs: MF, CC, and BP. Here, **each** node in the graph, which we term as **"GO Term" corresponds to a function of a protein.**

* If protein is annotated with a GO Term, then the protein has the function represented by this GO Term. 
* A protein can be and most of the time is annotated with multiple GO terms, and vice versa. 

In the annots.csv file, we have the annotation data, where each row corresponds to a protein - GO term annotation with the following columns: ProteinID,ProtSeq, GO_ID, Sub_Graph, Level. ProteinID is the specifier of the protein and the ProtSeq is the aminoacid sequence of this protein. GO_ID, Sub_Graph, and Level are properties of a GO Term. 

**Now, we want to store this data in a relational database, with the following table schemas:**

## Table 1: GoTerms:

| Column   | Type    | Key        | Description                |
|----------|---------|------------|----------------------------|
| GoID     | TEXT    | PRIMARY KEY| Gene Ontology Identifier   |
| SubGraph | TEXT    |            | Subgraph Type (BP, MF, CC) |
| Level    | INTEGER |            | Ontology level             |

## Table 2: Proteins

| Column     | Type | Key        | Description                |
|------------|------|------------|----------------------------|
| ProteinID  | TEXT | PRIMARY KEY| Unique Protein Identifier  |
| ProtSeq  | TEXT | | Amino Acid Sequence |

## Table 3: Annotations

| Column    | Type | Key                       | Description               |
|-----------|------|---------------------------|---------------------------|
| GoID      | TEXT | PRIMARY KEY, FOREIGN KEY  | Gene Ontology Identifier  |
| ProteinID | TEXT | PRIMARY KEY, FOREIGN KEY  | Unique Protein Identifier |

## Q1. Read the csv file and create this DB  **(10 Pts)**

In [4]:
# read file into db and create a db using sqlite3
annots_db ="annots.db"
conn = sqlite3.connect(annots_db)
cursor = conn.cursor()

create_go_terms_table_sql = '''
    CREATE TABLE IF NOT EXISTS GoTerms (
        GoID TEXT PRIMARY KEY,
        SubGraph TEXT,
        Level INTEGER
    )
'''

create_proteins_table_sql = '''
    CREATE TABLE IF NOT EXISTS Proteins (
        ProteinID TEXT PRIMARY KEY,
        ProtSeq TEXT
    )
'''

create_annotations_table_sql = '''
    CREATE TABLE IF NOT EXISTS Annotations (
        GoID TEXT,
        ProteinID TEXT,
        PRIMARY KEY (GoID, ProteinID),
        FOREIGN KEY (GoID) REFERENCES GoTerms (GoID),
        FOREIGN KEY (ProteinID) REFERENCES Proteins (ProteinID)
    )
'''
cursor.execute(create_go_terms_table_sql)
cursor.execute(create_proteins_table_sql)
cursor.execute(create_annotations_table_sql)

conn.commit()

In [5]:
import csv
with open("annots.csv", "r", newline="") as annots:
    csv_reader = csv.reader(annots)
    next(csv_reader)  
    for row in csv_reader:
        
        cursor.execute('INSERT OR IGNORE INTO GoTerms (GoID, SubGraph, Level) VALUES (?, ?, ?)', (row[2], row[3], row[4]))
        
        cursor.execute('INSERT OR IGNORE INTO Proteins (ProteinID, ProtSeq) VALUES (?, ?)', (row[0], row[1]))
       
        cursor.execute('INSERT OR IGNORE INTO Annotations (GoID, ProteinID) VALUES (?, ?)', (row[2], row[0]))
        

conn.commit()

## Q2. Define a function to extract all GO terms associated with a given amino acid sequence (ProtSeq), ensuring that the GO terms satisfy the following criteria: they are annotated with at least 50 proteins in MF and CC subgraphs, and 100 proteins in the BP subgraph.. **(10 Pts)**

In [35]:
#prot_seq = "WYTWADEAHAKNIVMCFRMHGEAYEKAAVYMNRSPEFMGCRADNNDEYDV" #  example protein sequence
prot_seq = input("Enter the protein sequence: ")


#function to extract the annotated GO terms with the above specs
def extract_go_terms(prot_seq):
    query = '''
SELECT GoID
FROM GoTerms
WHERE ProteinID IN (

            SELECT ProteinID
            FROM Proteins
            WHERE ProtSeq = prot_seq
)
GROUP BY GoID
HAVING SUM(IF(SubGraph IN( 'MF' , 'CC' ), 1 , 0)) >= 50
AND SUM(IF(SubGraph IN('BP'), 1, 0 )) >= 100'''


    cursor.execute(query,(prot_seq))

    fetcher = cursor.fetchall()
    results = [fetcher]
    # ADD YOUR CODE HERE
    return results

## Q3. Print the average number of annotations a GO terms has for each level in each subgraph (MF, CC, and BP) **(10 Pts)**

In [9]:
# Print the avg # of annots


query_mf = ''' 
SELECT Level, AVG(Number) AS AvgAnnots
FROM (SELECT GoID, COUNT(DISTINCT ProteinID) AS Number
    FROM Annotations
    WHERE GoID IN (SELECT GoID 
                    FROM GoTerms 
                    WHERE SubGraph = 'MF')
    GROUP BY GoID
    ) Query2
JOIN GoTerms ON Query2.GoID = GoTerms.GoID 
GROUP BY Level'''


query_cc = ''' 
SELECT Level, AVG(Number) AS AvgAnnots
FROM (SELECT GoID, COUNT(DISTINCT ProteinID) AS Number
    FROM Annotations
    WHERE GoID IN (SELECT GoID 
                    FROM GoTerms 
                    WHERE SubGraph = 'CC')
    GROUP BY GoID
    ) Query2
JOIN GoTerms ON Query2.GoID = GoTerms.GoID 
GROUP BY Level'''


query_bp = ''' 
SELECT Level, AVG(Number) AS AvgAnnots
FROM (SELECT GoID, COUNT(DISTINCT ProteinID) AS Number
    FROM Annotations
    WHERE GoID IN (SELECT GoID 
                    FROM GoTerms 
                    WHERE SubGraph = 'BP')
    GROUP BY GoID
    ) Query2
JOIN GoTerms ON Query2.GoID = GoTerms.GoID 
GROUP BY Level'''

print(cursor.execute(query_mf))
print(cursor.execute(query_cc))
print(cursor.execute(query_bp))

<sqlite3.Cursor object at 0x0000017C31433180>
<sqlite3.Cursor object at 0x0000017C31433180>
<sqlite3.Cursor object at 0x0000017C31433180>

## Q4. Identify the ProteinID with the longest ProtSeq within the Proteins table. Modify its ProtSeq to half its original length by trimming the sequence, update the ProteinID to "trimmed", and display the updated ProteinID and ProtSeq with its GO Term annotations. **(10 Pts)**

In [13]:
# find and trim the longest sequence, displaying the updated ProtID and ProtSeq, and its annotated GO Terms

max_lenght_query = ''' 
SELECT ProteinID, MAX(LENGTH(ProtSeq)) AS MaxLenght 
FROM Proteins
'''
cursor.execute(max_lenght_query)
max_lenght_protein = cursor.fetchone()

max_lenght_protein = 'annotations'

original_prot_seq= ''' 
SELECT ProtSeq
FROM Proteins
WHERE ProteinID = ? '''

cursor.execute(original_prot_seq, (max_lenght_protein,))
original_prot_seq = cursor.fetchone()

if original_prot_seq is not None:
    
    trimmed_seq = original_prot_seq[:len(original_prot_seq)//2]

    update_proteins_query = ''' 
UPDATE Proteins
SET ProteinID = 'trimmed', ProtSeq = 'original_prot_seq' 
WHERE ProteinID = ? '''

    cursor.execute(update_proteins_query, (trimmed_seq,max_lenght_protein))
    conn.commit()

query_updated = ''' 
SELECT p.ProteinID,  p.ProtSeq, GoID
FROM Proteins p
JOIN Annotations a ON p.ProteinID = a.ProteinID
JOIN GoTerms g ON a.GoID = g.GoID
WHERE p.ProteinID = 'trimmed' '''

# PLAGIARISM
All work on assignments must be done individually. You are encouraged to discuss
the given assignments with your classmates, but these discussions should be carried out
in an abstract way. That is, discussions related to a particular solution to a specific prob-
lem (either in actual code or in pseudocode) will not be tolerated. In short, turning
in someone else’s work (including work available on the internet), in whole or in part, as
your own will be considered as a violation of academic integrity. Please note that the
former conditions also hold for the material attained using AI tools, including ChatGPT,
GitHub Copilot, etc.